.timeline-container > div:first-child{
    margin-left: -50%;
}

.timeline-container > div:last-child{
    margin-right: -50%;
}

.timeline-top:first-child > div:first-child {
    height: 2px;
    background-image: linear-gradient(to right, #fff, #4299e1);
}

.timeline-top:first-child > div:last-child {
    border-top: 3px solid;
    border-right: 3px solid;
    border-color: #4299e1;
}

.timeline-bottom:last-child > div:first-child {
    height: 2px;
    background-image: linear-gradient(to left, #fff, #4299e1);
}

.timeline-bottom:last-child > div:last-child {
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color: #4299e1;
}

.timeline-medium > div:first-child{
    border-bottom: 3px solid;
    border-right: 3px solid;
    border-color: #4299e1;
}

.timeline-medium > div:nth-child(2){
    height: 2px;
}

.timeline-medium > div:last-child{
    border-top: 3px solid;
    border-left: 3px solid;
    border-color: #4299e1;
}

.inset-0 > .top-15{
    top: 15%;
}

.inset-0 > .top-30{
    top: 41%;
}

.inset-0 > .ml-25{
    margin-left: 15%;
}
.inset-0 > .ml-50{
    margin-left: 50%;
}
.inset-0 > .ml-75{
    margin-left: 80%;
}

.inset-0 > .top-15::before,
.inset-0 > .top-30::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #4299e1;
    top: 34px;
    left: 30%;
}
