@import "tailwindcss/base";

@font-face {
    font-family: 'Noto Sans JP';
    font-weight: 400;
    src: url('./fonts/Noto_Sans_JP/NotoSansJP-Regular.otf') format('otf');
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.before::before{
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
    top: 6px;
    left: -18px;
}

.after::before{
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 6px;
    right: -16px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    background-image: url('../assets/icon/arrow.svg');
    transition: all .15s ease-in;
}

.after:hover::before{
    top: 6px;
    right: -21px;
    opacity: 0;
}

.after::after{
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    opacity: 0;
    position: absolute;
    top: 6px;
    right: -16px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    background-image: url('../assets/icon/arrow-hover.svg');
    transition: all .15s ease-in;
}

.after:hover::after{
    top: 6px;
    right: -21px;
    opacity: 1;
}

.after_underline:after{
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -3px;
    opacity: 1;
    transition: all .15s ease-out;
    background-color: #718095;
}

.after_underline:hover::after{
    opacity: 0;
}
