.styled-checkbox[type='checkbox']{
  opacity: 0;
}

.styled-checkbox + label{
  position: relative;
}

.styled-checkbox + label::before{
  position: absolute;
  content: "";
  width: 1.125rem;
  height: 1.125rem;
  border: 2px solid #cbd5e0;
  border-radius: 4px;
  background-color: white;
}

.styled-checkbox + label:hover::before{
  background-color: #eee;
}

.styled-checkbox:checked + label::before{
  background-image: url('./assets/icon/correct.png');
}

